.user-list {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;

    margin-top: 20px;
}

.user-data {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}


.data-column {
    width: 5%;
    overflow-wrap: anywhere;
}

.updated {
    background-color: green;
}